.roundOfGameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.questionTitleDiv {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em 0;
  margin: 0;
  width: 100%;
}

.questionTitleDiv h3 {
  font-family: "Comfortaa", "DIN Alternate", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 24px;
  text-align: center;
  line-height: 145%;
  margin: 0;
  padding: 0 2em;
}

.allAnswerDiv {
  background-color: rgba(0, 0, 0, 1);
  margin: 0 1em;
  padding: 1em;
  width: 900px;
  border: 8px solid #ffa317;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointsCalculator {
  font-family: "Space Mono", Courier, monospace;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #fff; /* readable on your light menu background */
}

.answerBox:first-child {
  margin: 0 auto;
}

.answerBox {
  font-family: "Comfortaa", "DIN Alternate", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  background-color: #2f5dbd;
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 0.25em 1em;
  margin-top: 13px;
  margin-bottom: 0;
  width: 700px;
  height: 60px;
}

.answerBox:hover {
  cursor: pointer;
}

.answerBox.hidden{
  color: #000000;
}

.gameMenuDiv {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em 2em;
}

.gameButton {
  font-size: 16px;
  color: #ffffff;
  border-radius: 13px;
  padding: 1em 2em;
  margin-left: 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.gameButton:first-child {
  margin-left: 0;
}

.gameButton:hover {
  box-shadow: none;
}

/* New: container that centers the X group */
.xSymbolsContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0; /* since the X png already comes with some horizontal padding */
  align-items: center;
  justify-content: center;
}

.xSymbolsContainer .xSymbol {
  position: static;      
  height: 400px;         
  width: auto;
}

.xCounterDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xCounterDisplay span {
  font-size: 3rem;
  font-weight:  'bold';
  margin: 0 10px;
}